*{margin: 0px; padding: 0px;}

th {
    border: 1px solid black;
    border-collapse: collapse;
    color: white;
    background: #5b5b5b;
}

.row {
	width: 100px;
	height: 100px;
}

.row td {
    height: 200px;
    width: 200px;
    text-align: center;
    border: 1px solid;
    border-collapse: collapse;
}

.row td img {
    width: 100px;
    height: 100px;
}

table {
    margin: auto;
}