*{margin: 0px; padding: 0px}

.btn, .out {
    padding: 10px 15px;
    background: deepskyblue;
    width: 38px;
    color: beige;
    border-radius: 10px;
    position: absolute;
    top: 29px;
    right: 190px;
    cursor: pointer;
}

.out {
    width: 45px;
    height: 20px;
}

.btn:hover {
    background: darkmagenta;
}

.out:hover {
    background: red;
}

.btn {}

.footer {
    width: 100%;
    height: 100px;
    background: #116ec0;
    position: fixed;
    bottom: 0px;
}

.small-word, .price {
    position: absolute;
    top: 100%;
    left: 0%;
    color: white;
    font-size: 25px;
    text-align: center;
    z-index: 2;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
}
.price {
    left: 40%;
}

.product:hover .small-word {
    top: 65%;
    opacity: 1;
    visibility: visible;
    transition-delay: 0.2s;
}

.product:hover .price {
    top: 80%;
    opacity: 1;
    visibility: visible;
    transition-delay: 0.4s;
    font-size: 40px;
    color: #ecfff4;
    left: 33%
}

.big-word {
    position: absolute;
    top: 0;
    left: 20%;
    color: white;
    font-size: 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
    z-index: 2;
}

.product:hover .big-word {
    top: 25%;
    opacity: 1;
    visibility: visible;
    transition-delay: 0.1s;
}

.fading {
    position: absolute;
    top: 0px;
    left: 0px;
    background: brown;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.4s;
    visibility: hidden;
}

.product:hover .fading {
    opacity: 0.5;
    visibility: visible;
}

.prod-img img {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: 0.4s;
    transform: scale(1.5);
}

.product {
    position: relative;
    width: 300px;
    height: 400px;
    overflow: hidden;
    border: #f5deb330 solid 1px;
    margin: 50px 150px;
}

.product:hover .prod-img img {
    transform: scale(1);
}

.name {
    padding: 5px;
    color: white;
    border-left: gray solid 1px;
}

.info {
    position: absolute;
    top: 30px;
    right: 60px;
    display: flex;
}

.icon {
    height: 30px;
    width: 30px;
    padding-right: 5px;
}

.icon img {
    width: 100%;
    border-radius: 50px;
    height: 30px;
}

.logo {
    color: white;
    font-size: 35px;
    font-family: segoe ui light;
    position: absolute;
    top: 22%;
    left: 5%;
}

.header {
    width: 100%;
    position: relative;
    height: 100px;
    background: pink;
}

html {
    width: 100%;
}

body {
    width: 100%;
}

.empty {
    opacity: 0;
    visibility: hidden;
}